body {
  background: rgb(158, 156, 156);
  color: #fff;
  font-family: arial;
  line-height: 1.4em;
}

a {
  color: rgb(192, 208, 238);
  text-decoration: none;
}

ul {
  padding: 0;
}

.clr {
  clear: both;
}

#container {
  background: rgb(7, 123, 128);
  width: 960px;
  margin: 30px auto;
  overflow: hidden;
  padding: 10px;
}

#nav {
  height: 40px;
  background: #666;
}

#nav ul {
  padding-top: 13px;
  padding-left: 10px;
}

#nav li {
  list-style: none;
  float: left;
  padding-right: 20px;
}

#nav .active {
  font-weight: bold;
  color: #000;
}

#main {
  float: left;
  width: 60%;
}

#sidebar {
  float: right;
  width: 30%;
  background: rgb(129, 127, 127);
  margin-top: 20px;
  padding: 10px;
}

#footer {
  text-align: center;
  padding: 10px;
  background: rgb(226, 221, 221);
  margin-top: 30px;
}

input,
textarea {
  width: 30%;
  padding: 5px;
  margin-bottom: 15px;
}
